body {
  margin: 0px;
  width: 100%;
  height: 100%;
  background-image: url("./images/homepage.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(3px);
}

html,
#root {
  height: 100%;
  width: 100%;
}

@media all and (max-width: 800px) {
  body {
    background: rgb(191, 199, 191);
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* position: sticky; top: 0; */
}

.dropbtn {
  background-color: rgb(46, 58, 47);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 100%;
  height: 100%;
}

@media all and (max-width: 800px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }

  .animatie {
    display: none;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdownButton {
  width: 100%;
  height: 80%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #99bd8f;
}

.contactDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactContent {
  background-color: rgb(75, 78, 75);
  border: 15px solid rgb(46, 58, 47);
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  opacity: 0.9;
  color: white;
}

.despreNoi {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 25px;
}

.despreNoiContent {
  height: 70%;
  margin-left: 150px;
  background-color: rgb(75, 78, 75);
  border: 15px solid rgb(46, 58, 47);
  opacity: 0.9;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
}

h4 {
  font-size: 30px;
  padding: 25px;
}

hr {
  border: 2px solid rgb(46, 58, 47);
  width: 80%;
}

p {
  padding: 30px;
}

.contactButton {
  background-color: rgb(46, 58, 47);
  /* Green */
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: none;
  border-radius: 25px;
}

.button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  height: 50%;
}

.contactButton:hover {
  background-color: #99bd8f;
  color: white;
}

.animatieContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -27px;
  margin-top: 79px;
}

.card {
  margin: 20px;
  border-radius: 25px;
  width: 30%;
  height: 70%;
  flex-grow: 1;
}

.card-img {
  height: 400px;
  width: 435px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.cardContent {
  background-color: rgb(75, 78, 75);
  opacity: 0.9;
  margin-top: -8px;
  height: 90px;
  width: 435px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cardButton {
  background-color: rgb(46, 58, 47);
  color: white;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 25px;
}

.noutati {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.homepage {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.homepageContent {
  width: 100%;
  height: 35%;
  background-color: rgb(75, 78, 75);
  opacity: 0.9;
  border-radius: 25px;
  border: 15px solid rgb(46, 58, 47);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.searchForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.searchInput {
  width: 70%;
  margin-left: 20px;
  border-radius: 25px;
  border: 3px solid rgb(46, 58, 47);
  margin-right: 30px;
  text-align: center;
}

.discoverTitle {
  height: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.contactForm {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin: 20px;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: white;
}

.buttonContactForm {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.messageContent {
  height: 50%;
}

input {
  border-radius: 25px;
  height: 100%;
}

#message {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.title {
  height: 5%;
  display: flex;
  justify-content: center;
}

.mainContentHomepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mainContentDespreNoi {
  height: 100%;
}

.mainContentContact {
  height: 100%;
}

.languageSelector {
  height: 100%;
}

.logoutButton {
  height: 50%;
}

.switch {
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.switch:hover {
  background-color: #99bd8f;
  color: white;
}

p {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContentUserProfile {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userProfile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reservation {
  height: 100%;
}

.switchDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(46, 58, 47);
  color: white;
}

.MuiListItem-root {
  height: 6%;
  margin: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.reservationItem {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.user {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 10px;
}

.chartDiv {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recharts-responsive-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recharts-wrapper {
  background-color: rgb(75, 78, 75);
  border: 15px solid rgb(46, 58, 47);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rs__cell {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.css-2s90m6-MuiAvatar-root {
  background-color: green;
}

.MuiFormControl-root {
  margin: 20px;
}

.MuiInputLabel-root {
  color: white;
}

.locationName {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin: 5px;
}

#garsoniereSection {
  color: white;
  background: #304532;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#apartamentSection {
  color: white;
  background: #3a573d;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#homeSection {
  color: white;
  background: #436947;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}